.logo {
	width:140px;
	margin-top: -5px;
}

.logo_footer {
	text-align: center;
	width: 150px;
	padding: 30px 0;
}

.navbar-brand {
    padding-top: 7px;
    padding-left: 50px;
}

.navbar-default {
   background-color: #1c3651;
   border-color: #1c3651;
   
   text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.header {
	width: 100%;
}

.navbar {
	margin-bottom: 0px;
}

.container {
	max-width: 1000px;
}

.footer {
	background-color: #1c3651;
}

h1 {
	text-align: center;
	color:white;
    font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

h2 {
	text-align: center;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

h3 {
	font-size: 16px;
	font-weight: 300;
	color:white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

p {
	text-align: center;
	color:white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}


.cta {
	background-color: #efdc55;
	color: white;
}


.white {
	color: white;
}

.social_icon {
	display: inline-block;
	text-align: center;

}


/** Instagram Feed **/
#instagram {
  padding: 0;
  line-height:0;
}

#instagram a > div {
  display: inline-block;
  width: 16.666%;
  height: 0;
  padding-bottom: 16.666%!important;
  background: #eee 50% 50% no-repeat;
  background-size: cover;
}

#instagram span {
  display: block;
}

#instagram span a.butn {
  width: 210px;
  left: 50%;
  margin: -64px 0 0 -105px;
  position: absolute;
  text-align: center;
}

@media (max-width: 768px) {
  #instagram a > div {
    width: 25%;
    padding-bottom: 25%!important;
  }
}

@media (max-width: 544px) {
  #instagram a > div {
    width: 33.33%;
    padding-bottom: 33.33%!important;
  }
}







