.logo {
	width:140px;
	margin-top: -5px;
}

.logo_footer {
	text-align: center;
	width: 150px;
	padding: 30px 0;
}

.navbar-brand {
    padding-top: 7px;
    padding-left: 50px;
}

.navbar-default {
   background-color: #1c3651;
   border-color: #1c3651;
   
   text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #6ccbdb;
}

.header {
	width: 100%;
}

.navbar {
	margin-bottom: 0px;
}

.container {
	max-width: 1000px;
}

.container-lg {
	max-width: 1100px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.container-mini{
	max-width: 900px;
	margin:0 auto;
}
.footer {
	background-color: #1c3651;
}

h1 {
	text-align: center;
	color:white;
    font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

h2 {
	text-align: center;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

h3 {
	font-size: 16px;
	font-weight: 300;
	color:black;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

p {
	text-align: center;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

footer {
	padding-bottom: 80px;
	padding-top: 80px;
}

.titulo_inicio {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.botellas_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.izq_align {
	text-align: left;
}

.der_align {
	text-align: right;

}

.margin-top {
	margin-top: 50px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.responsive-img {
	width: 100%;
}

.cta {
	background-color: #ff6e5c;
	color: white;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}


.white {
	color: white;
}

.social_icon {
	display: inline-block;
	text-align: center;
	margin-right: 20px;

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.linea_titulo {
	width:60px;
	border-color: black;
 	border-width: 7px;
}

.linea_footer {
	width:30px;
	border-color: white;
 	border-width: 7px;
 	margin-top: 60px;
 	display: block
}


.der_align_hr {
	margin-right:0;
}

.izq_align_hr {
	margin-left:0;
}

.text_home {
	color:black;
	font-size: 18px;
}

.uppercase {
	text-transform: uppercase;
}

.jumbotron p {
    text-align: left;
}

.jumbotron h2 {
    text-align: left;
}

.foto_usuario {
	border-radius: 50%;
}

.user li<a{
	text-decoration: none;
}

.embed-responsive .embed-responsive-item.map {
	height: 350px;
	top:50px;
	
}

.embed-responsive {
	padding-bottom: 450px;
}



.btn-primary {
	color: #1b3452;
    background-color: #ffffff;
    border-color: #ffffff;
}

.right {
	float: right;
}


.cta_button {
	margin-top: -60px;
}

ul {    
	list-style: none;
}

.mob {
	display: none;
}

.text_fotos  img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  position: relative;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text_fotos:hover img {
  opacity: 0.3;
}

.text_fotos:hover .middle {
  opacity: 1;
}

.text_fotos_instagram {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 18px;
  text-align:center;
  text-transform:uppercase;
}

.carousel-caption {
    top: 200px;
}

.slide_text {
	font-size: 25px;
}

.contacto_foto {
	display: block;
}

@media (max-width: 1024px) {

.carousel-caption {
    top: 80px;
}


}




@media (max-width: 768px) {

.carousel-caption {
    top: 80px;
}


}



@media (max-width: 480px) {
.center {
	margin: 0 auto;
}

.container-lg {
	padding-left: 20px;
	padding-right: 20px;
}

.desk {
	display: none !important;
}

.carousel-caption {
    top: 30px;
}


}

